# Front build
dist

# Front node_modules
node_modules

# Front .env
.env

# Front yarn cache
.yarn/cache
.yarn/install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/releases/yarn-3.5.0.cjs
!.yarn/sdks
!.yarn/versions

# Front Webstorm
.idea
.vscode

# VCS
*.orig
